<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.spring.aesook.admin.manager.vo.ManagerVO" alias="manager"/>
		<typeAlias type="com.spring.aesook.admin.datalist.vo.ManagerHotelsVO" alias="ManagerHotels"/>
		<typeAlias type="com.spring.aesook.client.member.vo.MemberVO" alias="member"/>		
		<typeAlias type="com.spring.aesook.client.board.vo.MemberBoardVO" alias="memberBoard"/>	
    	<typeAlias type="com.spring.aesook.admin.datalist.vo.ManagerBookingVO" alias="booking"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappings/adminmappings/manager-Mapper.xml" />
		<mapper resource="mappings/adminmappings/managerDataList-Mapper.xml" />
		<mapper resource="mappings/clientmappings/member-Mapper.xml" />
	    <mapper resource="mappings/adminmappings/hotels-Mapper.xml"/>	   	
	</mappers>
</configuration>
