<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.aesook.admin.manager.vo.ManagerVO" alias="manager"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/adminmappings/manager-Mapper.xml" />
	</mappers>
</configuration>
