<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="client.board.vo.BoardVO">

	<insert id="insertBoard" parameterType="memberBoard">
	
	</insert>
	
	<select id="getArticleCount" parameterType="memberBoard" resultType="int">
		SELECT count(*) from BOARD
	</select>

</mapper>
