<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="client.hotels.dao.MemberRoomSortDAO">

<!-- 방 전체 리스트 가져오기 -->
<select id="selectRoomSort" resultType="memberRoomSort">
	select * from room_sort
	where HOTELS_CODE = #{hotelsCode} ORDER BY sort_standard_price asc
</select>

<!-- 숙소 정보 가져오기 (호텔 정보 필요해서) -->
<select id="getHotel" resultType="memberHotels" parameterType="int">
	select * from hotels 
	where hotels_code = #{hotelsCode}
</select>

<!-- 방 하나의 정보 가져오기  조건 2개-->
<select id="selectRoomDescription" resultType="memberRoomSort" parameterType="memberRoomSort">
	select * from room_sort 
	where hotels_code = #{hotelsCode} and sort_type = #{sortType}
</select>

<!-- 숙소등록 -->
<insert id="insertRoomSort" parameterType="memberRoomSort">
	insert into room_sort values(
	#{hotelsCode},
	#{sortType},
	#{sortStandardCnt},
	#{sortMaxCnt},
	#{sortRoomCnt},
	#{sortStandardPrice},
	#{sortHolidayPrice},
	#{sortAddPrice},
	#{sortRoomInfo})
</insert>
</mapper>
