<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="client.hotels.dao.MemberRoomSortDAO">

<select id="selectRoomSort" resultType="memberRoomSort">
	select * from room_sort
	where HOTELS_CODE = #{hotelsCode} ORDER BY sort_standard_price asc
</select>

</mapper>
