<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="client.memberimage.dao.MemberImageDAO">

	<insert id="insertMemberBrnImage" parameterType="memberBrnImage">
		INSERT INTO brn_image
		VALUES(BRN_IMAGE_SEQ.nextval, #{memberId}, #{brnImageName}, #{brnImageOrigin}, 
		#{brnImagePath}, #{brnImageExtension}, 'U')
	</insert>
	
	<insert id="insertMemberHotelsImage" parameterType="java.util.List" useGeneratedKeys="true">
		<selectKey keyProperty="hotels_Image_No" resultType="int" order="BEFORE">
		 select hotels_image_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO hotels_image  (
		hotels_Image_No,
		hotels_Code,
		hotels_Image_Name,
		hotels_Image_Origin,
		hotels_Image_Path,
		hotels_Image_Extension,
		hotels_Image_Status
		)
		 SELECT hotels_image_seq.nextval, A.* FROM (
		<foreach collection="list" item="item" separator="union all">
		 SELECT
		 #{item.hotelsCode} as hotels_Code, 
		 #{item.hotelsImageName} as hotels_Image_Name, 
		 #{item.hotelsImageOrigin} as hotels_Image_Origin,  
		 #{item.hotelsImagePath} as hotels_Image_Path, 
		 #{item.hotelsImageExtension} as hotels_Image_Extension, 
		 'H' 
		 FROM DUAL
		</foreach> ) A
	</insert>
</mapper>