<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="client.review.dao.MemberReviewDAO">
	<insert id="insertReview" parameterType="memberReview">
		INSERT INTO review  
		values(
		REVIEW_SEQ.nextval ,#{hotelsCode} ,#{memberId},
		#{bookingCode} ,#{reviewContents} ,sysdate ,#{reviewScore}
		)
	</insert>
	
	<update id="updateStatus" >
		update booking 
		set booking_status = 'R'
		where booking_code = #{bookingCode}
	</update>
	
	<select id="getReview" resultType="memberReview">
		select *
		from review
		where booking_code = #{bookingCode}
	</select>

	<select id="getReviewList" resultType="memberReview">
		select *
		from review
		where hotels_code = #{hotelsCode}
	</select>
	
	<select id="getScoreAvg" resultType="double">
		select round(avg(review_score),1) avg
		from review
		where hotels_code = #{hotelsCode}
	</select>
	
</mapper>
