<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="client.memberimage.dao.MemberImageDAO">

	<insert id="insertMemberBrnImage" parameterType="memberBrnImage">
		INSERT INTO brn_image
		VALUES(BRN_IMAGE_SEQ.nextval, #{memberId}, #{brnImageName}, #{brnImageOrigin}, 
		#{brnImagePath}, #{brnImageExtension}, 'U')
	</insert>
	
</mapper>