<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="client.hotels.dao.MemberHotelsDAO">

<insert id="insertHotels" parameterType="memberHotels">
	INSERT INTO hotels 
	VALUES(#{hotelsCode}, #{hotelsName}, #{hotelsType}, #{memberId}, 
	#{hotelsPhone}, #{hotelsZipcode}, #{hotelsAddress1}, #{hotelsAddress2},
	#{hotelsPath}, #{hotelsInfo}, #{hotelsIntroduce})
</insert>

<select id="selectHotels" resultType="memberHotels">
	select * from hotels
	where member_id = #{memberId}
</select>

<select id="selectHotelsCode" resultType="int">
	select hotels_seq.nextval from dual
</select>
</mapper>
