<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="client.hotels.dao.MemberHotelsListDAO">
 
  	<select id="countHotelsList" resultType="int" parameterType="java.util.HashMap">
  		SELECT COUNT(*) FROM hotels WHERE HOTELS_TYPE = #{type}
  		AND HOTELS_ADDRESS1 LIKE '%'||#{sido}||'%' AND  
  		<foreach collection="regionList" item="item" separator="or" open="(" close=")" index="index">
  			HOTELS_ADDRESS1 LIKE '%'||#{item}||'%'
  		</foreach>
   	</select>	
   	
  	<!-- 지역으로 숙소 리스트 가져오기 -->
  	<select id="selectHotelsList" resultType="memberHotels">
  		select h.*, i.hotels_image_name, i.hotels_image_path, i.hotels_image_status, rhb.scoreAvg, rhb.scoreCnt
		from hotels h,(select * from hotels_image where hotels_image_status='M') i,
		(select round(avg(r.review_score),0) scoreAvg, count(r.review_score) scoreCnt, hb.hotels_code
		from review r, (select h.hotels_code, b.booking_code
		from hotels h, booking b
		where h.hotels_code = b.hotels_code(+)) hb
		where hb.booking_code = r.booking_code(+)
		group by hb.hotels_code) rhb
		where h.hotels_code = i.hotels_code(+)
		and h.hotels_code = rhb.hotels_code
  		AND h.HOTELS_TYPE = #{type}  
  		AND h.HOTELS_ADDRESS1 LIKE '%'||#{sido}||'%' AND  
  		<foreach collection="regionList" item="item" separator="or" open="(" close=")" index="index">
  			h.HOTELS_ADDRESS1 LIKE '%'||#{item}||'%'
  		</foreach>  	
		<choose>
			<when test='sortCondition.equals("scoreAvg")'>
			order by scoreAvg desc nulls last
			</when>
			<when test='sortCondition.equals("scoreCnt")'>
			order by scoreCnt desc
			</when>
			<when test='sortCondition.equals("hotelsCode")'>
			ORDER BY h.HOTELS_CODE DESC
			</when>
			<otherwise>
			ORDER BY h.HOTELS_CODE DESC
			</otherwise>
		</choose>
  	</select>
  	
  	<!-- ID로 숙소 리스트 가져오기 -->
  	<select id="selectHotelsListById" resultType="memberHotels">
  		SELECT * FROM hotels WHERE member_id = #{memberId}
  	</select>
  	
  	<!-- 인기 숙소 리스트 10개 가져오기 -->
  	<select id="selectAccommodationTop10" resultType="memberHotels">
  		<![CDATA[
  		select h.*, i.hotels_image_path, i.hotels_image_name, i.hotels_image_status, rhb.scoreAvg, rhb.scoreCnt
		from hotels h, ranking r, (select * from hotels_image where hotels_image_status='M') i, 
		(select round(avg(r.review_score),0) scoreAvg, count(r.review_score) scoreCnt, hb.hotels_code
		from review r, (select h.hotels_code, b.booking_code
		from hotels h, booking b
		where h.hotels_code = b.hotels_code) hb
		where hb.booking_code = r.booking_code(+)
		group by hb.hotels_code) rhb
		where h.hotels_code = i.hotels_code(+)
		and h.hotels_code = r.hotels_code
		and h.hotels_code = rhb.hotels_code(+)
		and rownum <= 10
		]]>
  	</select>
  	
  	<!-- 인기 숙소(타입별) 리스트 10개 가져오기 -->
  	<select id="selectAccommodationTop10ByType" resultType="memberHotels" parameterType="memberHotels">
  		<![CDATA[
  		select h.*, i.hotels_image_path, i.hotels_image_name, i.hotels_image_status, rhb.scoreAvg, rhb.scoreCnt
		from hotels h, ranking r, (select * from hotels_image where hotels_image_status='M') i, 
		(select round(avg(r.review_score),0) scoreAvg, count(r.review_score) scoreCnt, hb.hotels_code
		from review r, (select h.hotels_code, b.booking_code
		from hotels h, booking b
		where h.hotels_code = b.hotels_code) hb
		where hb.booking_code = r.booking_code(+)
		group by hb.hotels_code) rhb
		where h.hotels_code = i.hotels_code(+)
		and h.hotels_code = r.hotels_code
		and h.hotels_code = rhb.hotels_code(+)
		and rownum <= 10
  		and r.hotels_type = #{hotelsType}
		]]>
  	</select>
  
  	<!-- 통합 검색 결과로 호텔 리스트 가져오기 -->
  	<select id="getSearchedHotelsList" resultType="memberHotels">
  		select h.*, i.hotels_image_name, i.hotels_image_path, i.hotels_image_status, rhb.scoreAvg, rhb.scoreCnt
		from hotels h,(select * from hotels_image where hotels_image_status='M') i,
		(select round(avg(r.review_score),0) scoreAvg, count(r.review_score) scoreCnt, hb.hotels_code
		from review r, (select h.hotels_code, b.booking_code
		from hotels h, booking b
		where h.hotels_code = b.hotels_code(+)) hb
		where hb.booking_code = r.booking_code(+)
		group by hb.hotels_code) rhb
		where h.hotels_code = i.hotels_code(+)
		and h.hotels_code = rhb.hotels_code
  		<if test = "searchCondition=='ADDRESS'">
  			and hotels_address1 Like '%'||#{searchKeyword}||'%'
  		</if>
  		<if test = "searchCondition=='NAME'">
  			and hotels_name Like '%'||#{searchKeyword}||'%'
  		</if>
  		<if test = "searchCondition=='PATH'">
  			and hotels_path Like '%'||#{searchKeyword}||'%'
  		</if>
		<if test = "hotelsType=='motel'">
  			and hotels_type = '모텔'
  		</if>
		<if test = "hotelsType=='guesthouse'">
  			and hotels_type = '게스트하우스'
  		</if>
		<if test = "hotelsType=='hotel'">
  			and hotels_type = '호텔'
  		</if>
		<if test = "hotelsType=='pension'">
  			and hotels_type = '펜션'
  		</if>
		<if test = "hotelsType=='resort'">
  			and hotels_type = '리조트'
  		</if>
        <choose>
			<when test='sortCondition.equals("scoreAvg")'>
			order by scoreAvg desc nulls last
			</when>
			<when test='sortCondition.equals("scoreCnt")'>
			order by scoreCnt desc
			</when>
			<when test='sortCondition.equals("hotelsCode")'>
			ORDER BY h.HOTELS_CODE DESC
			</when>
			<otherwise>
			ORDER BY h.HOTELS_CODE DESC
			</otherwise>
		</choose>
  	</select>
 </mapper>