<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="client.booking.dao.MemberBookingDAO">

	<select  id="getBookingList" parameterType="memberBooking" resultType="memberBooking">
		select h.hotels_name, b.booking_code, b.booking_date,
		b.booking_check_in, b.booking_check_out, b.booking_total_price
		from hotels h, booking b
		where b.member_id = #{memberId} 
		and b.hotels_code = h.hotels_code 
		and (b.booking_status = 'B' 
		or b.booking_status = 'R')
	</select>

	<select id="getCanceledBookingList" parameterType="memberBooking" resultType="memberBooking">
		select h.hotels_name, b.booking_code, b.room_sort, 
		b.booking_date, b.booking_cancel_date, 
		b.booking_check_in, b.booking_check_out, b.booking_total_price
		from hotels h, booking b
		where b.member_id = #{memberId} 
		and b.hotels_code = h.hotels_code 
		and b.booking_status = 'C'
	</select>

	<select id="getBookingInfo" resultType="memberBooking" >
		select b.*, h.hotels_name
        from booking b, hotels h
        where b.booking_code = #{bookingCode}
        and b.hotels_code = h.hotels_code
	</select>

	<update id="updateBookingCancel" parameterType="memberBooking">
		update booking
		set booking_status ='C', booking_cancel_date = sysdate
		where booking_code = #{bookingCode} 
	</update>
	
	<select id="getPossibleBooking" resultType="String">
		<![CDATA[
		SELECT distinct r.room_sort FROM room r 
		WHERE NOT EXISTS (SELECT * FROM (select room_name from booking
		where to_date(#{bookingCheckIn}) < booking_check_out
		and to_date(#{bookingCheckOut}) > booking_check_in
		and hotels_code = #{hotelsCode}
		and booking_status != 'C') t 
		WHERE r.room_name = t.room_name)
		and hotels_code = #{hotelsCode}
		]]>
	</select>
	
	<select id="getRoomPossible" resultType="int">
		<![CDATA[
		SELECT count(r.room_name) FROM room r 
		WHERE NOT EXISTS (SELECT * FROM (select room_name from booking
		where to_date(#{bookingCheckIn}) < booking_check_out
		and to_date(#{bookingCheckOut}) > booking_check_in
		and hotels_code = #{hotelsCode}
		and booking_status != 'C') t 
		WHERE r.room_name = t.room_name)
		and hotels_code = #{hotelsCode}
		and room_sort = #{roomSort}
		]]>
	</select>
</mapper>