<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="client.board.dao.MemberBoardDAO">

    <insert id="insertBoard" parameterType="memberBoard">
	INSERT INTO board (
	BOARD_SEQ
	,board_writer
	,board_title
	,board_content
	,board_step
	,board_depth
	,board_readcount
	,board_ip
	,board_date
	,board_type
	)
	values(
	BOARD_SEQ.nextval
	,#{boardWriter}
	,#{boardTitle}
	,#{boardContent}
	,#{boardStep}
	,#{boardDepth}
	,#{boardReadcount}
	,#{boardIP}
	,TO_CHAR(SYSDATE,'YYYY-MM-DD')
	,#{boardType}
	)
	</insert>

    <select id="getMemberBoard" resultType="memberBoard" parameterType="pagination">
<![CDATA[



                select B.rnum, B.BOARD_SEQ,B.BOARD_WRITER, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_DATE,B.Board_TYPE
                from
                    (select rownum as rnum,A.BOARD_SEQ, A.BOARD_WRITER, A.BOARD_TITLE, A.BOARD_CONTENT, A.BOARD_DATE,A.BOARD_TYPE
                     from (
                              select BOARD_SEQ , BOARD_WRITER, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE,BOARD_TYPE
                              from board
                              order by BOARD_SEQ desc) A
                     where rownum <=#{rowEnd} and BOARD_TYPE='Q') B
                where B.rnum >= #{rowStart} order by rownum


        ]]>
	</select>

    <update id="updateMemberBoard" parameterType="memberBoard">
		update BOARD
		set BOARD_TITLE = #{boardTitle}
			,BOARD_CONTENT = #{boardContent}
			where BOARD_SEQ =#{boardSeq}

	</update>

    <delete id="deleteMemberBoard" parameterType="memberBoard">
		delete from BOARD
		where BOARD_WRITER =#{boardWriter}
	</delete>


    <select id="getBoardCount" parameterType="memberBoard" resultType="int">
		SELECT count(*) from BOARD where BOARD_TYPE='Q'
	</select>

    <select id="getFAQBoardCount" parameterType="memberBoard" resultType="int">
		SELECT count(*) from BOARD where BOARD_TYPE='F'
	</select>

    <select id="getNoticeBoardCount" parameterType="memberBoard" resultType="int">
		SELECT count(*) from BOARD where BOARD_TYPE='N'
	</select>

    <select id="readMemberBoard" resultMap="MemberResultMap">
		SELECT BOARD_SEQ
			   ,BOARD_TITLE
			   ,BOARD_CONTENT
			   ,BOARD_WRITER
			   ,BOARD_DATE
		FROM
				BOARD
		WHERE BOARD_SEQ = #{boardSeq}
	</select>

    <select id="getMemberBoardFAQ" resultType="memberBoard" parameterType="pagination">
		<![CDATA[





                select B.rnum, B.BOARD_SEQ,B.BOARD_WRITER, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_DATE,B.Board_TYPE
                from
                    (select rownum as rnum,A.BOARD_SEQ, A.BOARD_WRITER, A.BOARD_TITLE, A.BOARD_CONTENT, A.BOARD_DATE,A.BOARD_TYPE
                     from (
                              select BOARD_SEQ , BOARD_WRITER, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE,BOARD_TYPE
                              from board
                              order by BOARD_SEQ desc) A
                     where rownum <=#{rowEnd} and BOARD_TYPE='F') B
                where B.rnum >= #{rowStart} order by rownum






        ]]>
	</select>
    <select id="getMemberNoticeBoard" resultType="memberBoard" parameterType="pagination">
		<![CDATA[



                select B.rnum, B.BOARD_SEQ,B.BOARD_WRITER, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_DATE,B.Board_TYPE
                from
                    (select rownum as rnum,A.BOARD_SEQ, A.BOARD_WRITER, A.BOARD_TITLE, A.BOARD_CONTENT, A.BOARD_DATE,A.BOARD_TYPE
                     from (
                              select BOARD_SEQ , BOARD_WRITER, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE,BOARD_TYPE
                              from board
                              order by BOARD_SEQ desc) A
                     where rownum <=#{rowEnd} and BOARD_TYPE='N') B
                where B.rnum >= #{rowStart} order by rownum





        ]]>
	</select>

    <resultMap id="MemberResultMap" type="memberBoard">
        <id property="boardSeq" column="board_seq"/>
        <result property="boardTitle" column="board_title"/>
        <result property="boardContent" column="board_content"/>
        <result property="boardDate" column="board_date"/>
        <result property="boardReadcount" column="board_readcount"/>
    </resultMap>


</mapper>
