<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.datalist.vo.ManagerHotelsVO">

	<select id="getListHotels" resultType="managerHotels">
		SELECT *
		FROM hotels
	</select>

	<select id="getHotels" resultType="managerHotels" parameterType="managerHotels">
	SELECT * 
	FROM hotels
	WHERE hotels_code=#{hotelsCode}
	</select>
	
	<update id="updateHotel" parameterType="managerHotels">
	UPDATE hotels 
	SET hotels_name=#{hotelsName}, hotels_type=#{hotelsType},
	hotels_phone=#{hotelsPhone}, hotels_zipcode=#{hotelsZipcode},
	hotels_address1=#{hotelsAddress1},hotels_address2=#{hotelsAddress2},
	hotels_path=#{hotelsPath}, hotels_info=#{hotelsInfo},
	hotels_introduce=#{hotelsIntroduce} where hotels_code=#{hotelsCode}
	</update>
	
</mapper>
