<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.datalist.dao.ManagerDataListDAO">
		
	<select id="getBooking" resultType="managerBooking">
		select * from booking
	</select>
	
	<select id="getBookingInfo" resultType="managerBooking">
		select booking_code, hotels_code, sort_type, room_code, member_id,
		booking_check_in, booking_check_out,
		booking_name, booking_phone, booking_cnt, 
        booking_date, booking_cancel_date,
		booking_total_price, booking_status
    		from booking
    		where booking_code = #{bookingCode}
	</select>
	
	<update id="setBookingInfo" parameterType="managerBooking">
		update booking
			set room_code = #{roomCode},
				sort_type = #{sortType},
				booking_check_in = #{bookingCheckIn},
				booking_check_out = #{bookingCheckOut},
				booking_name = #{bookingName},
				booking_phone = #{bookingPhone},
				booking_cnt = #{bookingCnt},
				booking_total_price = #{bookingTotalPrice},
				booking_status = #{bookingStatus}
			where booking_code = #{bookingCode}
	</update>

</mapper>
