<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="admin.rule.dao.ManagerRuleDAO">
  
  <select id="getRuleList" resultType="managerRule" parameterType="managerRule">
  SELECT * from rule
  </select>
  
   <select id="getRule" resultType="managerRule" parameterType="managerRule">
  SELECT * from rule where hotels_Type=#{hotelsType}
  </select>
  
  <update id="updateRule" parameterType="managerRule">
  UPDATE rule 
  SET BOOKING_RULE=#{bookingRule}, CANCEL_RULE=#{cancelRule}
  WHERE HOTELS_TYPE=#{hotelsType}
  </update>
  
  
  </mapper>
  