<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
  <mapper namespace="admin.terms.dao.ManagerRuleDAO">
  
  <select id="termsGetList" resultType="managerTerms" parameterType="managerTerms">
  SELECT * from rule
  </select>
  
   <select id="getTerms" resultType="managerTerms" parameterType="managerTerms">
  SELECT * from rule where hotels_Type=#{hotelsType}
  </select>
  
  <update id="updateTerms" parameterType="managerTerms">
  UPDATE rule 
  SET BOOKING_RULE=#{bookingRule}, CANCEL_RULE=#{cancelRule}
  WHERE HOTELS_TYPE=#{hotelsType}
  </update>
  
  
  </mapper>
  