<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.image.dao.ManagerImageDAO">
	
	<update id="updateBrnImageStatus" parameterType="managerBrnImage">
		update brn_image
			set brn_image_status = #{brnImageStatus}
			where brn_image_name = #{brnImageName}
	</update>

</mapper>