<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="admin.users.dao.ManagerUsersDAO">
	
	<!-- UserInfo Modify 수행시 -->
	<update id="modifyManagerUsers" parameterType="managerUsers">
		UPDATE MEMBER 
		SET MEMBER_STATUS = #{memberStatus}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!-- UserInfo Delete 수행시 -->
	<update id="deleteManagerUsers" parameterType="managerUsers">
		UPDATE MEMBER 
		SET MEMBER_STATUS = "D"
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!-- UserInfo Disable 수행시 -->
	<update id="updateManagerUsers" parameterType="managerUsers">
		UPDATE MEMBER 
		SET MEMBER_PASS = #{memberPass}, MEMBER_NAME = #{memberName}, 
			MEMBER_EMAIL = #{memberEmail}, MEMBER_STATUS = #{memberStatus}, 
			MEMBER_PHONE = #{memberPhone}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<select id="getManagerUsers" resultType="managerUsers" parameterType="managerUsers">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
	</select>
	
	<select id="getManagerUsersList" resultType="managerUsers" parameterType="managerUsers">
		SELECT * FROM MEMBER
	</select>
	
</mapper>